<!DOCTYPE html>
<html lang="zh-CN">
    <div class="ui segments" data-tab="assetmanager">
        <div class="ui two column padded grid attached segment">
            <div class="column"></div>
            <button id="serverprivilege" class="ui green button" line="${line}" product="${product}" app="${app}" group="${group}" addinfo>添加规则</button>
            <div class="ui search">
                <div class="ui icon input">
                    <input id="serverprivilege" class="prompt" type="text" placeholder="搜索规则" localsearch>
                    <i class="search icon"></i>
                </div>
                <div class="results"></div>
            </div>
        </div>
        <table class="ui fourten column sortable celled  table" style="overflow:auto">
            <thead>
                <tr>
                    <th>规则</th>
                    <th>操作时间</th>
                    <th>操作用户</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody name="serverprivilegedetails" list="servermanager.serverprivilege.serverprivilegedetails.${line}_and_${product}_and_${app}_and_${group}" repeatdataupdate>
                <tr id="serverprivilege" pageid="{{l.pid}}" pag="{{l.pagination}}" key="{{l.pid}}" ng-repeat="l in servermanager.serverprivilege.serverprivilegedetails.${line}_and_${product}_and_${app}_and_${group}">
                    <td id="serverprivilege" ng-class="{'hide': x.key=='id'}" class="{{x.key}}" ng-repeat="x in l.list" tdlable>{{x.value}}</td>
                    <td class="opertion">
                        <button id="serverprivilege" class="ui red basic button" trdeletebutton>删除</button>
                        <button id="serverprivilege" class="ui teal basic button" opertiondialog>权限配置</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</html>