<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <title>蓝鹰</title>
        <meta contebt="text/html" charset="utf-8">
        <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-ico">
        <link rel="stylesheet" type="text/css" href="/static/css/semantic/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/calendar.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/main.css">
        <script src="/static/js/jquery.js" type="text/javascript"></script>
        <script src="/static/js/angular.js" type="text/javascript"></script>
        <script src="/static/js/semantic.js" type="text/javascript"></script>
        <script src="/static/js/service.js" type="text/javascript"></script>
        <script src="/static/js/tablesort.js" type="text/javascript"></script>
        <script src="/static/js/calendar.min.js" type="text/javascript"></script>
        <script src="/static/js/main.js" type="text/javascript"></script>
    </head>
    <body ng-app="mainmodule" ng-controller="mainctrl">
        <div class="global">
            <div  class="head">
                <div class="ui raised  top tabular menu container segment" menuactive>
                    <div class="replaceactive ui simple pointing dropdown link item" name="main" >
						<span class="text">首页</span>
					</div>
                    <?py ptxt=''?>
                    <?py for i in [{'get_usergroup_main_page':{'key':'usergroup', 'des':'用户组管理'}}, {'get_key_main_page':{'key':'key', 'des':'key管理'}}, {'get_privilege_main_page':{'key':'privilege', 'des':'权限分配'}}, {'get_inform_main_page':{'key':'inform', 'des':'通知管理'}}]:?>
                    <?py for k,v in i.iteritems():?>
                        <?py if 'mainHandler.'+k in user_privilist or 'admin' in user_group:?>
                            <?py ptxt+='<div id="'+v.get('key')+'" class="item">'+v.get('des')+'</div>'?>    
                        <?py #endif ?>
                    <?py #endfor ?>
                    <?py #endfor ?>
                    <?py if ptxt:?>
                        <div name="privilege" class="ui simple pointing dropdown link item">
                            <span class="text">权限管理</span>
                            <div class="menu childrenmenu">
                                #{ptxt}
                            </div>
                        </div>
                    <?py #endif ?>
                    
                    <?py ptxt=''?>
                    <?py for i in [{'get_asset_main_page':{'key':'asset', 'des':'资产管理'}}, {'get_serverlogin_main_page':{'key':'serverlogin', 'des':'登录管理'}}, {'get_serverinit_main_page':{'key':'serverinit', 'des':'初始化管理'}}]:?>
                    <?py for k,v in i.iteritems():?>
                        <?py if 'mainHandler.'+k in user_privilist or 'admin' in user_group:?>
                            <?py ptxt+='<div id="'+v.get('key')+'" class="item">'+v.get('des')+'</div>'?>    
                        <?py #endif ?>
                    <?py #endfor ?>
                    <?py #endfor ?>
                    <?py if ptxt:?>
                        <div name="asset" class="ui simple pointing dropdown link item">
                            <span class="text">资产管理</span>
                            <div class="menu childrenmenu">
                                #{ptxt}
                            </div>
                        </div>
                    <?py #endif ?>
                       
                    <?py ptxt=''?>
                    <?py for i in [{'get_servergroup_main_page':{'key':'servergroup', 'des':'主机组管理'}}, {'get_server_privilege_main_page':{'key':'server_privilege', 'des':'权限配置'}}, {'get_server_privilegelist_main_page':{'key':'server_privilegelist', 'des':'权限信息'}}]:?>
                    <?py for k,v in i.iteritems():?>
                        <?py if 'mainHandler.'+k in user_privilist or 'admin' in user_group:?>
                            <?py ptxt+='<div id="'+v.get('key')+'" class="item">'+v.get('des')+'</div>'?>    
                        <?py #endif ?>
                    <?py #endfor ?>
                    <?py #endfor ?>
                    <?py if ptxt:?>  
                        <div name="host" class="ui simple pointing dropdown link item">
                            <span class="text">主机管理</span>
                            <div class="menu childrenmenu">
                                #{ptxt}
                            </div>
                        </div>
                    <?py #endif ?>
                    
                    <?py ptxt=''?>
                    <?py for i in  [{'get_taskcreate_main_page':{'key':'taskcreate', 'des':'任务创建'}}, {'get_taskhistory_main_page':{'key':'taskhistory', 'des':'任务记录'}}, {'get_taskcustom_main_page':{'key':'taskcustom', 'des':'自定义任务'}}, {'get_informationcollect_main_page':{'key':'informationcollect', 'des':'信息收集'}}, {'get_fault_main_page':{'key':'fault', 'des':'故障处理'}}]:?>
                    <?py for k,v in i.iteritems():?>
                        <?py if 'mainHandler.'+k in user_privilist or 'admin' in user_group:?>
                            <?py ptxt+='<div id="'+v.get('key')+'" class="item">'+v.get('des')+'</div>'?>    
                        <?py #endif ?>
                    <?py #endfor ?>
                    <?py #endfor ?>
                    <?py if ptxt:?>  
                        <div name="task"  class="ui simple pointing dropdown link item">
                            <span class="text">任务管理</span>
                            <div class="menu childrenmenu">
                                #{ptxt}
                            </div>
                        </div>
                    <?py #endif ?>
                    
                    <div class="right two item menu">
                        <div class="loginstatus item">
                            <div class="extra content">
                                <div class="right floated author">
                                    <img class="ui avatar image" src="/static/img/matt.jpg">
                                </div>
                                <div class="ui cards">
                                    <div class="card">
                                        <div class="content">
                                            <img class="right floated mini ui image" src="/static/img/matt.jpg">
                                            <div class="header">${username}</div>
                                            <div class="meta">当前登录用户</div>
                                            <div class="description">你可以保持登录/退出登录</div>
                                        </div>
                                        <div class="extra content">
                                        <div class="ui two buttons">
                                            <div class="ui button">保持登录</div>
                                            <div class="or">or</div>
                                            <div class="ui positive button" loginout>退出登录</div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item datatime" datatime></div>
                </div>
                </div>

            </div>
            <div class="ui divider"></div>
            <div  class="body">
                 <div class="html ui top attached segment container segment" style="max-height:100em !important;width:100em !important"><h2 class="ui header">预留页</h2>
                    <div class="ui 1:1 embed" data-source="vimeo" autoplay="yes" data-url="" data-placeholder="/static/img/t.jpg" data-icon="right circle arrow" embed>
                    </div>
                </div>
	    </div>
            <div id="tail">
            </div>
        </div>
    </body>
</html>
